.slider-container {
    position: relative;
    display: block;
}

.slick-list {
    display: flex;
    justify-content: flex-start; 
}

.slick-slide {
    transition: all 600ms ease;
    opacity: 1;
    transform-origin: left;
}

.slick-dots {
    top: -4rem;
}

.slick-dots li {
    margin: 0 5px;
    position: absolute;
    right: -30rem;
}

.feature-card{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.feature-card-data{
    margin-right: 1rem;
    margin-left: 0.5rem;
    border-radius: 1rem;
    position: relative;
    background-color: #663399;
    z-index: 1;
    padding: 2rem;
    padding-bottom: 0px;
    cursor: pointer;
}

.bg-svg{
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.svg-img{
    position: absolute;
    height: 83.333333%;
    margin-left: 35%;
    opacity: 0.5;
    width: 70%;
    color: #FFFFFF;
    background-blend-mode: lighten;
}

.feature-card-details{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;
}

.feature-card-btn{
    background-color: #4299E1;
}

.feature-card-title{
    margin-top: 75px;
    margin-bottom: 1rem
}

.feature-card-profile-details{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.future-card-overlay{
    background: linear-gradient(0deg, #2d3748 0%, transparent 100%);    
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.future-card-img {
    box-sizing: border-box;
    background-color: #e2e8f0;
    display: inline-block;
    vertical-align: middle;
    border-radius: 9999px;
    border-style: solid;
    border-width: 3px;
    border-color: #e2e8f0;
    overflow: hidden;
    opacity: 0.9;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1px;
}
  
.feature-card-img-wrapper{
    position: relative;
    overflow: hidden;
}

.feature-card-img-wrapper img{
    bottom: 0;
    height: 100%;
    left: 0;
    margin: 0;
    max-width: none;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    object-fit: cover;
}

.card-profile-data{
    width: 100%;
    height: max-content !important;
    display: flex;
    justify-content: center;
    height: max-content;
    flex-direction: column;
}

.future-card-name{
    font-size: 14px;
    color: #fff;
    font-weight: bold;
}

.profile-timeline{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 0.875rem;
    color: #a0aec0;
    white-space: nowrap;
}

.future-card-last-seen{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.feature-card:hover{
    transform: translateY(10px);
}